body{
    margin: 0;
    background-color: rgb(224, 224, 224);
    font-family: sans-serif;
}

#app{
 #navLeft{
        width: inherit;
        height: inherit;
        background-color: aquamarine;
    }
 #navRight{
        background-color: aquamarine;
    }  
}  