body{
    background-color: rgb(224, 224, 224);
    font-family: sans-serif;
}

#app{
    #nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .navLeft{
            width: 10vw;
            height: 10vh;
            background-color: aquamarine;
            text-decoration: none;

            ul{
                list-style: none;

                li{
                    a{
                        color: red;
                        text-decoration: none;
                    }
                }
            }
        }

        .navRight{
            width: 25vw;
            height: 20vh;
            background-color: aquamarine;
            
        }  
                    
    }

    #footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
        
        a{
            color: white;
            text-decoration: none;
        }
    }
}  