body {
  background-color: whitesmoke;
  font-family: sans-serif;
  margin: 0;
}

#app #nav .navRight a, #app .home h1, #app .profile, #app .profile .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app {
  height: 100vh;
}

#app #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#app #nav .navLeft {
  width: 10vw;
  height: 8vh;
  text-decoration: none;
}

#app #nav .navLeft ul {
  list-style: none;
}

#app #nav .navLeft ul li {
  margin: 2vw 0;
}

#app #nav .navLeft ul li a {
  color: red;
  text-decoration: none;
  font-size: 2vw;
}

#app #nav .navLeft ul li a img {
  width: 6vw;
}

#app #nav .navRight {
  width: 10vw;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#app #nav .navRight img {
  width: 3vw;
}

#app #footer {
  min-width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 15vh;
}

#app #footer a {
  color: white;
  text-decoration: none;
}

#app #footer a img {
  width: 4vw;
}

#app #footer p {
  margin: 8px;
}

#app .home h1 {
  font-size: 6vw;
}

#app .home #products {
  display: -ms-grid;
  display: grid;
  background-color: black;
  width: 80vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  display: grid;
  grid-gap: 60px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 230px;
}

#app .home #products section {
  background-color: bisque;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

#app .home #products section img {
  background-color: royalblue;
  width: 20vw;
  height: 25vh;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

#app .home #products section p {
  font-size: 2vw;
  color: aliceblue;
  background-color: black;
}

#app .profile .content {
  background-color: #949e9b;
  height: 100vh;
  width: 60vw;
}

#app .profile .content h2 {
  font-size: 2vw;
  background-color: aliceblue;
}

#app .profile .content .create {
  font-size: 2vw;
  background-color: black;
  color: aliceblue;
  text-decoration: none;
}

#app .profile .content #login {
  background-color: black;
}
/*# sourceMappingURL=main.css.map */